@import '~bootstrap/scss/bootstrap';
@import 'app/variable';

p,h4,h2,li,.container-fluid{
    color: $--main-bg-color;
}
footer{
    p{color:white}
}
.navbar-collapse .navbar-nav li.active a{
    background-color:white!important
}

p{
  font-size: 12px  
}
@media screen and (min-width: 480px) {
    p{
        font-size: 15px  
      }

}

.statcounter{
    img{display:none}
}

.iframContainer {
    width:22em;
    input{
        width:100%;
        @media screen and (min-width: 480px) {
            width:20%
        
        }
    }
}

.login-panel{
    text-shadow: 0 1px rgba(0,0,0,.1);
      background-color: #efefef;
      padding: 10px 0;
      border: 0;
      width:100%;
      font-family: roboto;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      color: #2d7e91;
  }
  .login-panel:hover{color: #efefef;background-color: #2d7e91;}
.loginmodal-container{
  select{
   cursor: pointer;
      margin-bottom: 1em
  }
}
.panel{
    th,td{text-align: center}
    select{
        cursor: pointer;
        margin: 1em 0 1em 0
    }
    .panel-heading{
        padding: 1em
    }
}
.container{
    padding: 0
}
